@import "base/reset.css";
@import "base/fonts.css";
@import "base/tokens.css";

.body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: var(--font-serif);
  font-weight: 500;
  background-color: var(--surface-secondary);
  position: relative;
  z-index: -3;
}

.hero {
  position: absolute;
  inset: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-primary);
}

.hero--moment {
  z-index: -1;
}

.hero__heading {
  font-size: var(--text-heading-xxl);
  text-align: center;
  text-transform: uppercase;
}

.hero__heading--wide-md {
  width: min(100%, 20ch);
}
.hero__heading--wide-lg {
  width: min(100%, 23ch);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.calculator {
  z-index: -2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.calculator__heading {
  font-size: var(--text-heading-xxl);
  text-align: center;
  text-transform: uppercase;
}

.calculator__heading--wide-lg {
  width: min(100%, 23ch);
}

.calculator__body {
  position: relative;
  width: min(100%, 725px);
}

.calculator__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
}

.calculator__form--hidden {
  opacity: 0;
  visibility: hidden;
}

.calculator__form-title {
  font-size: var(--text-heading-xl);
}

.calculator__inputs {
  /* width: min(100%, 400px); */
  width: 100%;
  display: flex;
  gap: var(--size-7);
  flex-direction: column;
}

.calculator__date-select {
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
}

.calculator__select {
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  flex: 1;
  transition: background-color 300ms ease;
  justify-content: center;
  &,
  &::picker(select) {
    appearance: base-select;
    border: 1px solid hsla(0, 0%, 100%, 0.137);
    /* border-radius: var(--radius-sm); */
    border-radius: 0;
    font-size: var(--text-heading-sm);
  }

  &::picker(select) {
    transition: opacity 0.2s ease, transform 0.2s var(--ease-out-3),
      display 0.2s allow-discrete, overlay 0.2s allow-discrete;

    padding: 0.5rem;
    height: 90%;

    position: relative;
    /* top: -42px; */
  }

  &::picker(select)::-webkit-scrollbar {
    width: 2px;
  }
  &::picker::-webkit-scrollbar-track {
    background-color: white;
  }
  &::picker::-webkit-scrollbar-thumb {
    background-color: wheat;
  }

  &::picker-icon {
    display: none;
  }

  & option {
    border-radius: 5px;
    padding-inline: 0.2rem;
    &::checkmark {
      /* display: none; */
      content: "•";
    }
  }

  &:not(:open)::picker(select) {
    opacity: 0;
    transform: scale(0.95);
  }

  &:open::picker(select) {
    opacity: 1;
    transform: scale(1);
  }

  /* &:open::picker(select)::after {
    content: "";
    inset: 0;
    z-index: 2;
    position: absolute;
    -webkit-box-shadow: inset 11px -95px 37px -70px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 11px -95px 37px -70px rgba(0, 0, 0, 1);
    box-shadow: inset 11px -95px 37px -70px rgba(0, 0, 0, 1);

    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
  } */

  & option:not(:last-child) {
    margin-block-end: 0.25rem;
  }

  & option:hover {
    transition: all 0.3s ease;
  }
}

.calculator__submit-btn {
  cursor: pointer;
  padding: 0.5rem 1.25em;
  width: fit-content;
  /* border-radius: 0.25rem; */
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  text-transform: uppercase;
  background-color: transparent;
  align-self: center;
  transition: background-color 300ms ease;
  &:hover {
    background-color: var(--surface-primary);
    filter: brightness(1.5);
  }
}

.calculator__output {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  position: absolute;
  inset: 0;
}

.calculator__output__title {
  font-size: var(--text-heading-lg);
}

.calculator__output__value {
  cursor: pointer;
  font-size: var(--text-heading-md);
}

.calculator__output--hidden {
  display: none;
}

@media (min-width: 639px) {
  :root {
    --text-heading-xxl: var(--font-size-11xl);
    --text-heading-xl: var(--font-size-7xl);
    --text-heading-lg: var(--font-size-5xl);
    --text-heading-md: var(--font-size-9xl);
    --text-heading-sm: var(--font-size-xl);
  }

  .calculator__date-select {
    flex-direction: row;
  }
}

@media (min-width: 1023px) {
  :root {
    --text-heading-xxl: var(--font-size-13xl);
    --text-heading-xl: var(--font-size-9xl);
    --text-heading-lg: var(--font-size-7xl);
    --text-heading-md: var(--font-size-11xl);
    --text-heading-sm: var(--font-size-2xl);
  }
}

@media (min-width: 1279px) {
  :root {
    --text-heading-xxl: var(--font-size-15xl);
    --text-heading-xl: var(--font-size-11xl);
    --text-heading-lg: var(--font-size-9xl);
    --text-heading-md: var(--font-size-13xl);
  }
}
