@font-face {
  font-family: "OFL Sorts Mill Goudy TT";
  src: local("OFL Sorts Mill Goudy TT"), local("OFLGoudyStMTT"),
    url("/fonts/OFLGoudyStMTT.woff2") format("woff2"),
    url("/fonts/OFLGoudyStMTT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OFL Sorts Mill Goudy TT";
  src: local("OFL Sorts Mill Goudy Italic TT"), local("OFLGoudyStMTT-Italic"),
    url("/fonts/OFLGoudyStMTT-Italic.woff2") format("woff2"),
    url("/fonts/OFLGoudyStMTT-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
